<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/img/logo.webp" alt="Hotel Marinero Inn" class="navbar-logo me-3">
            <span>
                <strong>Hotel Marinero Inn</strong>
                <small class="d-block text-white-50" style="font-size: 0.7rem;">Su casa en el mar...</small>
            </span>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item"><a class="nav-link px-3" href="#inicio">Inicio</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="#servicios">Servicios</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="#habitaciones">Habitaciones</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="#restaurante">Restaurante</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="#discoteca">Discoteca</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="#contacto">Contacto</a></li>
                <li class="nav-item ms-lg-2">
                    <a class="btn btn-warning btn-sm px-4 py-2 fw-bold" href="https://wa.me/593993161517?text=Hola,%20me%20gustar%C3%ADa%20reservar%20una%20habitaci%C3%B3n" target="_blank" style="border-radius: 25px;">
                        <i class="bi bi-whatsapp me-1"></i> Reservar Ahora
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>